.product-pre
  width: 842px
  height: 247px
  background: #fff
  border: 1px solid #e8e8e8
  &:nth-child(n+2)
    border-top: none
  &--title
    @extend .product--title
  &--wrapper
    @extend .wrapper
    max-width: 720px
